html, body {
    height: 100%;
    width: 100%;
  }
  
  body{
    background: #3e4a61;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  
  .top-message{
     width: 80%;
    margin: 50px auto;
  }
  
  .add-container{
    background: #fff;
    display: flex;
  }
  
  .addr-right{
    flex-basis: 60%;
    padding: 40px 60px;
  }
  
  .addr-left{
    flex-basis: 40%;
    padding: 40px;
    background: #1D2D44;
    color: #fff;
  }
  
  .in-grp{
    margin-bottom: 10px;
  }
  
  input{
    width: 100%;
    }
  
  textarea{
    width:100%;
    border: 1px solid #3e4a61;
  }
  
  label{
    margin-bottom: 5px 0;
    display: block;
    color: #3e4a61;
  }
  
  button{
    background: #1D2D44;
    color: #fff;
   border-radius: 10px; 
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
  }
  
  .addr-right h3{
    color: #1D2D44;
    font-weight: 800;
    margin-bottom: 20px;
  }
  
  .addr-left h3{
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  tr td:first-child{
    padding-right: 20px;
  }
  
  tr td{
    padding-top: 20px;
  }
  
  .addr-left p{
    font-weight: 400px;
    margin-top: 60px;
  }
  
  .home{
    background-color: #00FFC6;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    width: 20%;
    text-align: center;
  }